/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  height: 100%;
}

body {
  background: radial-gradient(rgba(30,25,124,1) 6%, rgba(23,23,134,1) 23%, rgba(18,20,113,1) 40%, rgba(14,12,75,1) 60%);
  background-repeat: no-repeat;
  margin: 0; /* removes space around navbar */
}

/* navbar styles */
.navbar {
  /* background-color: #00377E; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8em;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-left: 3rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.navbar a:hover {
  opacity: 0.75;
}

.navbar li {
  display: inline;
  list-style: none;
  margin: 3rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  text-decoration: underline;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
}

.navbar input {
  background-color: transparent;
  border-radius: 10px;
  border-color: transparent;
  border-bottom-color: #fff;
  color: #fff;
  width: 15rem;
  height: 2rem;
  font-size: 1.15rem;
  margin-right: 0;
}

/* remove outline when input field is clicked */
.navbar input:focus {
  outline: none;
}

.navbar #search-btn {
  background-color: transparent;
  border: none;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 5px;
  padding: 0;
  margin-left: 1rem;
  margin-right: 3rem;
}

.navbar #search-btn:hover {
  cursor: pointer;
}

/* weather data */
main {
  display: flex;
  justify-content: center;
}

.weather-card {
  position: relative;
  background: linear-gradient(135deg, rgb(0, 82, 169) 6%, rgb(1, 88, 180) 23%, rgb(1, 100, 206) 44%, rgb(40, 139, 244) 71%);
  color: #fff;
  border-radius: 10px;
  margin: 2rem 10rem;
  text-align: center;
  width: 30em;
  height: 25em;
}

.current-data p {
  padding: 0.25rem 0;
  color: #ffbe32;
  font-size: 4rem;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-1 .location {
  font-size: 2rem;
  margin-top: 0;
  margin-left: 2rem;
}

.row-1 .date-time {
  font-size: 1.25rem;
  margin-right: 2rem;
}

.row-1 .date-time p {
  margin-bottom: 0;
  margin-top: 1rem;
}

.row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-2 .temp {
  font-size: 5rem;
  margin-top: 5rem;
  margin-left: 2rem;
}

.row-2 .weather-icon {
  margin-top: 0;
  margin-right: 2rem;
  height: 10rem;
  width: 10rem;
}

.row-3 {
  padding: 0;
  font-size: 1.5rem;
}

.row-3 .weather {
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0;
}

/* footer styles */
footer {
  /* background-color: #00377E; */
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  list-style: none;
  justify-content: space-between;
  margin: 0 1rem;
}

footer ul li:hover {
  opacity: 0.75;
}

footer img {
  border-radius: 15px;
}

footer p {
  text-align: center;
  margin-top: 0;
}