/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #485EA7;
  margin: 0; /* removes space around navbar */
}

/* navbar styles */
.navbar {
  background-color: #7F90DF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.navbar a:hover {
  opacity: 0.75;
}

.navbar li {
  display: inline;
  list-style: none;
  margin: 3rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  text-decoration: underline;
}

.navbar input {
  border-radius: 10px;
  margin-right: 1.5rem;
  width: 15rem;
  height: 2rem;
  font-size: 1.15rem;
}

/* footer styles */
footer {
  background-color: #7F90DF;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  list-style: none;
  justify-content: space-between;
  margin: 0 1rem;
}

footer ul li:hover {
  opacity: 0.75;
}

footer img {
  border-radius: 15px;
}

footer p {
  text-align: center;
  margin-top: 0;
}