/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  height: 100%;
  width: 100%;
}

.logo img {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate (0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: radial-gradient(rgba(30,25,124,1) 6%, rgba(23,23,134,1) 23%, rgba(18,20,113,1) 40%, rgba(14,12,75,1) 60%);
  background-repeat: no-repeat;
  margin: 0; /* removes space around navbar */
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}

/* large screen sizes */
/* navbar styles */
.navbar {
  /* background-color: #00377E; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8em;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-left: 3rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.navbar a:hover {
  opacity: 0.75;
}

.navbar li {
  display: inline;
  list-style: none;
  margin: 2rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  text-decoration: underline;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

/* change placeholder color */
::placeholder {
  color:#DDB68C;
  opacity: 1; /* Firefox adds a lower opacity to the placeholder, so we use opacity: 1 to fix this */
}

.navbar input {
  background-color: transparent;
  border-radius: 10px;
  border-color: transparent;
  border-bottom-color: #fff;
  color: #fff;
  width: 15rem;
  height: 2rem;
  font-size: 1.15rem;
  margin-right: 0;
}

/* remove outline when input field is clicked */
.navbar input:focus {
  outline: none;
}

.navbar #search-btn {
  background-color: transparent;
  border: none;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 5px;
  padding: 0;
  margin-left: 1rem;
  margin-right: 3rem;
}

.navbar #search-btn:hover {
  cursor: pointer;
}

/* error message */
.error-msg {
  color: #ffb83d;
  font-size: 4rem;
  text-align:center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* footer styles */
footer {
  /* background-color: #00377E; */
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  color: white;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  list-style: none;
  justify-content: space-between;
  margin: 0 1rem;
}

footer ul li:hover {
  opacity: 0.75;
}

footer img {
  border-radius: 15px;
}

footer p {
  text-align: center;
  margin-top: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.95);
  }
}

/* landing page */
#landing-main {
  margin-top: 0;
  display: flex;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#landing-text h1, h2 {
  color: white;
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
}

#landing-text h1 {
  font-size: 6rem;
}

#landing-text h2 {
  font-size: 3rem;
}

/* current weather page */
#current-h1 {
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}

.weather-card {
  position: relative;
  background: linear-gradient(135deg, rgb(0, 82, 169) 6%, rgb(1, 88, 180) 23%, rgb(1, 100, 206) 44%, rgb(40, 139, 244) 71%);
  color: #fff;
  /* border-style: solid; */
  /* border-width: .05rem; */
  border-radius: 15px;
  margin: 0;
  text-align: center;
  width: 30em;
  height: 25em;
}

.current-data {
  margin-bottom: 15rem;
}

.current-data p {
  padding: 0.25rem 0;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-1 #current-location {
  display: flex;
  align-items: baseline;
}

.row-1 img {
  width: 3rem;
  height: 3rem;
  margin-top: 0;
  margin-left: 2rem;
}

.row-1 .location {
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: 0;
  padding-left: 0;
}

.row-1 .date-time {
  font-size: 1.25rem;
  margin-right: 2rem;
}

.row-1 .date-time p {
  margin-bottom: 0;
  margin-top: 1rem;
}

.row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-2 .temp {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  margin-left: 2rem;
}

.row-2 .weather-icon {
  margin-top: 0;
  margin-right: 0.5rem;
  height: 10rem;
  width: 10rem;
  
  transform: scale(1);
  animation: pulse 3s infinite;
}

.row-3 {
  padding: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.row-3 .weather {
  margin-top: 0;
  padding: 0;
}

/* today's forecast page */
.today-data {
  margin-bottom: 10rem;
}

#today-h1 {
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}

.today-h2 {
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

#today-location {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#today-location img {
  width: 2.25rem;
  height: 2.5rem;
}

#today-location p {
  margin: 0;
  padding: 0;
}

.hourly-card {
  display: flex;
  justify-content: left;
  align-items: center;
  background: linear-gradient(135deg, rgb(0, 82, 169) 6%, rgb(1, 88, 180) 23%, rgb(1, 100, 206) 44%, rgb(40, 139, 244) 71%);
  /* border-style: solid; */
  /* border-width: .05rem; */
  border-radius: 15px;
  height: 8rem;
  margin: 15px 10px;
  transition: transform .5s; /* only necessary for animation */
}

.hourly-card:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.hourly-card p {
  padding: 0.25rem;
  font-size: 2rem;
  padding: 1rem;
}

.hourly-icon {
  width: 8rem;
  transform: scale(1);
  animation: pulse 3s infinite;
  padding: 0;
}

/* weekly forecast page */
.week-data {
  margin-bottom: 10rem;
}

#week-h1 {
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
}

.week-h2 {
  font-family: Mali, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

#week-location {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#week-location img {
  width: 2.25rem;
  height: 2.5rem;
}

#week-location p {
  margin: 0;
  padding: 0;
}

.week-data {
  display: flex;
}

.week-forecast {
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.25rem;
  background: linear-gradient(135deg, rgb(0, 82, 169) 6%, rgb(1, 88, 180) 23%, rgb(1, 100, 206) 44%, rgb(40, 139, 244) 71%);
}

.week-forecast p {
  font-size: 1.2rem;
}

.week-h2 img {
  width: 2.25rem;
  height: 2.5rem;
}

/* responsive design */
@media screen and (max-width: 1360px) {
  .week-forecast p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1230px) {
  .week-forecast p {
    font-size: 1rem;
  }  
}

@media screen and (max-width: 1227px) {
  /* navbar styles */
  .navbar {
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }

  .navbar a {
    margin-top: 2rem;
  }

  .search-bar {
    margin-left: 7rem;
  }
}

@media screen and (max-width: 1133px) {
  .week-forecast p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1085px) {
  .week-forecast p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1059px) {
  #landing-page h1 {
    font-size: 5rem;
  }
  
  #landing-page h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1037px) {
  .week-data {
    flex-direction: column;
  }

  .week-forecast {
    height: 75%;
    width: 25em;
  }

  .week-forecast img {
    height: 10rem;
    width: 10rem;
  }

  .week-forecast p {
    font-size: 2rem;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1000px) {
  /* navbar styles */
  .navbar a {
    margin-top: 2rem;
  }

  .search-bar {
    margin-left: 7rem;
  }

  /* footer styles */
  footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hourly-card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

@media screen and (max-width: 830px) {
  .hourly-card:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}

@media screen and (max-width: 730px) {
  /* navbar styles */
  .navbar {
    flex-direction: column;
  }

  .navbar a {
    margin-top: 2rem;
  }

  #landing #background-video { display: none; }

  #landing body {
    background: url(media/landing-poster.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 588px) {
  /* navbar styles */
  .navbar {
    margin-top: 3rem;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    margin-top: 2rem;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .navbar ul li {
    margin: 0;
  }

  .search-bar {
    margin-left: 10rem;
  }

  /* weather card */
  .weather-card {
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
  }

  .weather-card .row-1 #current-location img {
    width: 2rem;
    height: 2rem;
  }

  .weather-card .location {
    font-size: 1.5rem;
  }

  .weather-card .date-time {
    font-size: 1rem;
  }

  .weather-card .temp {
    font-size: 1.5rem;
  }

  .row-3 {
    font-size: 1rem;
  }

  @media screen and (max-width: 500px) {
    header {
      margin-bottom: 5rem;
    }

    .hourly-card {
      height: 10rem;
    }

    .hourly-card:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    .hourly-card p {
      font-size: 1rem;
    }

    .hourly-icon {
      width: 5rem;
    }

    .week-forecast {
      height: 50%;
      width: 10em;
    }
  
    .week-forecast img {
      height: 5rem;
      width: 5rem;
    }
  
    .week-forecast p {
      font-size: 1rem;
      padding: 0 1rem;
    }
  }
}